.DS_Store
.vs
/EzModel State Generation example/EzModel State Generation example/obj/Release
/EzModel State Generation example/EzModel State Generation example/obj/Debug/EzModel State Generation example.csproj.AssemblyReference.cache
